.tab-card {
  padding: 0.6rem 0.8rem;
  border-bottom: 2px solid #318a6e71;
  background-color: #5cb8430e;
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: center;
}

.tab-card:hover {
  background-color: #5cb8432f;
  cursor: pointer;
}

.tab-card p {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.tab-card h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  /* white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; */
  width: fit-content;
}

.tab-card input[type="checkbox"] {
  background: rgb(235, 235, 235);
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  border: 2px solid var(--darkgreen);
  margin: 0;
}

.form-check-input {
  border: 2px solid var(--darkgreen);
}

.tab-card input[type="checkbox"]:focus {
  box-shadow: 0 !important;
  border: 0;
}

.form-check-input:focus,
.form-check-input:active {
  border: 2px solid var(--darkgreen);
  box-shadow: 0 0 0 transparent;
}

.tab-card input[type="checkbox"]:checked {
  background-color: var(--green);
}
